<a href="https://colab.research.google.com/github/abibala296/python-training/blob/main/52120152_Balamurugan_M.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [7]:
#1
student_heights = [("John", 170), ("jersey", 155), ("heritage", 162), ("Chetan", 188), ("Devi", 158)]
k = 160

tall_students = [student for student in student_heights if student[1] >= k]

print(tall_students)

[('John', 170), ('heritage', 162), ('Chetan', 188)]

In [8]:
#2
s1=['a', 'b', 'c']
s2 =[3, 5, 6]
cross_product= [[x, y] for x in s1 for y in s2]
print(cross_product)

[['a', 3], ['a', 5], ['a', 6], ['b', 3], ['b', 5], ['b', 6], ['c', 3], ['c', 5], ['c', 6]]

In [12]:
if __name__ == '__main__':
    N = int(input())
    List = [];
    for i in range(N):
        command = input().split()
        if command[0] == "insert":
            List.insert(int(command[1]), int(command[2]))
        elif command[0] == "append":
            List.append(int(command[1]))
        elif command[0] == "pop":
            List.pop()
        elif command[0] == "print":
            print(List)
        elif command[0] == "remove":
            List.remove(int(command[1]))
        elif command[0] == "sort":
            List.sort()
        else:
            List.reverse()

12
insert 0 5
insert  1 10
insert 0 6
print
[6, 5, 10]
remove 6
append 9
append 1
sort
print
[1, 5, 9, 10]
pop
reverse
print
[9, 5, 1]

In [15]:
#4
n = int(input())
t = tuple(map(int, input().split()))
print(hash(t))

2
12 2
5646003302091366357

In [17]:
#5
import sqlite3
my_list = [1, 2, 3, 4, 5]
conn = sqlite3.connect('my_database.db')
cur = conn.cursor()
cur.execute('CREATE TABLE IF NOT EXISTS my_table (id INTEGER)')
for item in my_list:
 cur.execute('INSERT INTO my_table (id) VALUES (?)', (item,))
conn.commit()
conn.close()