<a href="https://colab.research.google.com/github/abibala296/python-training/blob/main/52120152_balamurugan_M.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Assignment 3
# 1)
def common_factors (n1, n2):
  common = []
  for i in range(1, min(n1, n2) + 1):
     if n1% i == 0 and n2 % i == 0:
      common.append(i)
  return common
n1= int(input("Enter first number: "))
n2 = int(input("Enter second number: "))
print("Common factors:", common_factors(n1,n2))

Enter first number: 12
Enter second number: 18
Common factors: [1, 2, 3, 6]

In [6]:
#2)
def union_set(set1, set2):
    return set1.union(set2)

def remove_duplicates(set1, set2):
    return union_set(set1, set2)

# Test the function with set1 (1, 2, 3, 4, 5) and set2 (4, 5, 6, 7, 8)
set1 = {1, 2, 3, 4, 5}
set2 = {4, 5, 6, 7, 8}

print("Set1:", set1)
print("Set2:", set2)
print("New Set with unique items:", remove_duplicates(set1, set2))

Set1: {1, 2, 3, 4, 5}
Set2: {4, 5, 6, 7, 8}
New Set with unique items: {1, 2, 3, 4, 5, 6, 7, 8}

In [9]:
#3)
def max_key(d):
    return max(d, key=d.get)

def min_key(d):
    return min(d, key=d.get)

# Test the functions with the dictionary d = {'a': 5, 'b': 2, 'c': 8, 'd': 3}
d = {'a': 5, 'b': 2, 'c': 8, 'd': 3}

print("Dictionary:", d)
print("Key of max value:", max_key(d))
print("Key of min value:", min_key(d))

Dictionary: {'a': 5, 'b': 2, 'c': 8, 'd': 3}
Key of max value: c
Key of min value: b

In [ ]:
#4)
n = int(input())
phone_book = {}

for _ in range(n):
    name, phone_number = input().split()
    phone_book[name] = phone_number

while True:
    try:
        query = input()
        if query in phone_book:
            print(f"{query}-{phone_book[query]}")
        else:
            print("Not found")
    except EOFError:
        break

3
ram 9786866
sam 7755656
raju 54764674
ram
ram-9786866
syab
Not found